<ion-view>
  
<ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>

 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
<ion-content class="backgroundimage">
<h1 class="heading">ACCOUNTS</h1>
<div class="row margin-0" >
	<div class="col col-50 animated fadeInLeft">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app.accRevenueMgmt"><img src="../www/img/water-bill-icon.png" width="55px" height="55px">
		<h5>Revenue Management</h5></a>
		</div>
	</div>
	             
	<!-- <div class="col col-50 animated fadeInRight">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app.ACTransaction"><img src="../www/img/new-water-connection.png" width="55px" height="55px">
		<h5>Transactions</h5></a>
		</div>
	</div> -->
</div>
 </ion-content>
  
 </ion-view>