<ion-view>
 <ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>

<ion-nav-bar class="bar-dark" align-title="center">   
	 <ion-nav-back-button ng-click="backbutton()"></ion-nav-back-button>
 </ion-nav-bar> 
 
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
<ion-content ng-controller="SpotBillpayCtrl" class="animated zoomIn">
<h3 class="heading" translate="CONNECTION_NUMBER">Payment</h3>
<form name="SpotBillPayForm">

 <div class="list" >
	
	<label class="item item-input item-floating-label"> 
		<span class="input-label required" translate="CONNECTION_NUMBER">Total Amount</span>
		<input type="text" placeholder="Total Amount*" name="totalPayableAmount" ng-model="totalPayableAmount" id="pincodelim"
		ng-trim="false" ng-pattern="/^[0-9.]{1,15}$/" disabled/>
		<span class="errorMessage" ng-show="SpotBillPayForm.totalPayableAmount.$error.pattern">Please Enter Valid Total Amount</span>
	</label>
			
	<label class="item item-input item-floating-label"> 
		<span class="input-label required" translate="CONNECTION_NUMBER">Enter Payable Amount</span>
		<input type="number" placeholder="Enter Payable Amount*" name="Payamount" ng-model="Payamount" 
		ng-keyup="onlyNumericSixLimitInput()" ng-trim="false" ng-pattern="/^[0-9.]{1,15}$/" required/>
		<span class="errorMessage" ng-show="SpotBillPayForm.Payamount.$error.pattern">Please Enter Valid Amount</span>
	</label>
	
	<label class="input-label padding-left-15 required" translate="CONNECTION_NUMBER">Payment Mode</label>
		<select class="select-dropdown" name="PaymentMode" data-ng-model="PaymentMode" 
		ng-options="o.id as o.name for o in options" required>
		<option value="">Select</option>
	</select>
	
		<div ng-if="PaymentMode == '5'">
			<h3 class="heading" translate="CONNECTION_NUMBER">Cheque Details </h3>
			<label class="input-label padding-left-15 required" translate="CONNECTION_NUMBER">Drawn On</label>
				<select class="select-dropdown" name="BankName" data-ng-model="BankName" 
				ng-options="o.chqid as o.chqname for o in chequeoptions" required>
				<option value="">Select Bank</option>
				</select>
			<label class="item item-input item-floating-label"> 
				<span class="input-label required" translate="CONNECTION_NUMBER">Account Number</span>
				<input type="number" placeholder="Account Number*" name="accountNo" ng-model="accountNo" 
			     ng-trim="false" ng-pattern="/^[0-9]{11,16}$/" required/>
				<span class="errorMessage" ng-show="SpotBillPayForm.accountNo.$error.pattern">Please Enter Valid Account Number</span>
	 		 </label>
			<label class="item item-input item-floating-label"> 
				<span class="input-label required" translate="CONNECTION_NUMBER">Cheque/DD No./PO No.</span>
				<input type="number" placeholder="Cheque/DD No./PO No.*" name="chequeNo" ng-model="chequeNo" 
			     ng-trim="false" ng-pattern="/^[0-9]{6,6}$/" required/>
				<span class="errorMessage" ng-show="SpotBillPayForm.chequeNo.$error.pattern">Please Enter Valid Cheque Number</span>
	 		 </label>
			<label class="item item-input item-floating-label">
				<span class="input-label required" translate="CONNECTION_NUMBER">Cheque/DD No./PO No. Date</span>
				<input type="date" placeholder="Cheque/DD No./PO No. Date(DD/MM/YYYY)*" ng-blur="changeAttr($event)" name="chequeDate" ng-model="chequeDate" ng-trim="false" 
				ng-pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" required/>
				<span class="errorMessage" ng-show="SpotBillPayForm.chequeDate.$error.pattern">Please Enter Valid Cheque Date</span>
			</label>
		</div>
				
	<div class="padding">
		<button ng-disabled="!SpotBillPayForm.$valid" ng-click="payWaterBill()" 
		class="button button-block button-positive" id="btn1">
		<span translate="PAY"></span></button>
	</div> 


	<!-- <div ng-if="paymentreceipt">
			<h3 class="heading">Payment Receipt</h3>
			<table class="gridtable" id="applIDtable">
				<tr>
					<th width="100%" colspan="2">
					<div align="center">Payment Receipt</div>
					</th>
				</tr>
				<tr>
					<th>Connection No</th>
					<td>{{ connNumber }}</td> 
				</tr>
				<tr>
					<th>Receipt No</th>
					<td>{{ ReceiptNo }}</td>
				</tr>
				<tr>
					<th>Consumer Name</th>
					<td>{{ ConnName }}</td>
				</tr>
				<tr>
					<th>Paid Amount</th>
					<td>{{ Payamount }}</td>
				</tr>
				<tr>
					<th>Payment Mode</th>
					<td>{{ PaymentMode }}</td>
				</tr>
				<tr>
					<th>Transaction</th>
					<td>{{ transtatus }}</td> 
				</tr>
			</table>
		</div>	 -->


</div>



</form>	
    </ion-content>
</ion-view>

