 
<ion-view>
 
 <ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>
     
<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>
    
<ion-content  ng-controller="TradeandlicenseCtrl" class="animated zoomIn">
<h1 class="heading">Trade & License - Details</h1>
<form name="TradeLicenseForm" ng-submit="tradelicensenumbersearch()">
<div class="list" >

<label class="item item-input item-floating-label"> 
	<span class="input-label required">License Number</span>
	<input type="text" placeholder="License Number*" name="licensenumbersearch" ng-model="licensenumbersearch"
	id="licenseID" ng-keyup="eighteendigit()" ng-trim="false" ng-pattern="/^[A-Za-z0-9/]{1,18}$/" required/>
	<span class="errorMessage" ng-show="TradeLicenseForm.licensenumbersearch.$error.pattern">Please Enter Valid License Number</span>
</label>

<div class="padding">
	<button ng-disabled="!TradeLicenseForm.$valid" ng-click="tradelicensenumbersearch()" class="button button-block button-positive customBgColor"><i class="icon ion-search fonth3"></i>
	<span translate="">Search</span></button>
</div>
       
	<div ng-if="licenseStatus" class="animated zoomIn">
		<table class="gridtable">
			<tr>
				<th width="100%" colspan="2">
				<div align="center">Trade & License - Details</div>
				</th>
			</tr>
			<tr>
				<th>Application No</th>
				<td>{{ MLapplicationId  }}</td> 
			</tr>
			<tr>
				<th>License No</th>
				<td>{{ LicenseNumber }}</td>
			</tr>
			<tr>
				<th>Business Name</th>
				<td>{{ businessname }}</td>
			</tr>
			<tr>
				<th>Business Address</th>
				<td>{{ businessaddress }}</td>
			</tr>
			<tr>
				<th>Service Name</th>
				<td>{{ serviceName }}</td>
			</tr>
			<tr>
				<th>Last Paid Amount</th>
				<td>{{ LastPaid }}</td>
			</tr>
			<tr>
				<th>Last Paid Date</th>
				<td>{{ lastPaidDate }}</td>
			</tr>
			<tr>
				<th>License Expiry Date</th>
				<td>{{ dueDate  }}</td>
			</tr>
			<tr>
				<th>Payable Amount</th>
				<td>{{ payamt }}</td>
			</tr>
		</table>
	
	<div class="padding">
	<button ng-click="homepage()" class="button button-block button-positive customBgColor">
	<span translate="">GoTo HomePage </span></button>
	</div>
	
	</div>	
</div>  
</form>
 </ion-content>
</ion-view>
