<ion-view>

<ion-nav-title>
 	 <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet<sup>&reg;</sup></h1>
 </div>
</ion-nav-title>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
<ion-content ng-controller="NewWaterconnPayCTRL" class="animated zoomIn backgroundimage">
<h3 class="heading" translate="PAYMENT"></h3>
<form name="NWCPayForm">
	<div class="list">
	             <label class="item item-input item-floating-label"> 
					<span class="input-label" translate="TOTAL_AMOUNT"></span>
					<input type="text" placeholder="{{'TOTAL_AMOUNT' | translate}}" name="FlatRate" ng-model="FlatRate" 
					 ng-trim="false" disabled/>
				</label>
			
				<!-- <label class="item item-input item-floating-label"> 
					<span class="input-label required" translate="ENTAMT"></span>
					<input type="number" placeholder="{{'ENTAMT' | translate}}*" name="data_.payingAmount" ng-model="data_.payingAmount" 
					ng-keyup="onlyNumericSixLimitInput()" ng-trim="false" ng-pattern="/^[0-9]{1,6}$/" required/>
					<span class="errorMessage" ng-show="NWCPayForm.data_.payingAmount.$error.pattern">Please Enter Valid Pincode</span>
				</label> -->
			
            	<label class="input-label padding-left-15 required" translate="PAYGATEWAY"></label>
				<select class="select-dropdown" name="data_.paymentGateway" data-ng-model="data_.paymentGateway" 
					ng-options="o.id as o.name for o in options" required>
					<option value="">Select Payment Gateway</option>
				</select>  
				
				<div class="padding">
	                <button class="button button-block button-positive customBgColor" ng-click="savedata()" ng-disabled="!NWCPayForm.$valid">
	                <span translate="PAY"></span></button>
	            </div> 
	</div>
</form>

    </ion-content>
 </ion-view>   
