<ion-view>

  <ion-nav-title>
 	 <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet<sup>&reg;</sup></h1>
 </div>
</ion-nav-title>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
<ion-content ng-controller="SpotBillpayCtrl" class="animated zoomIn">

<form name="SpotBillPayForm">
 <h3 class="heading">Payment</h3>
	<div class="list" >
	       <label class="item item-input item-floating-label"> 
				<span class="input-label required">Connection Number</span>
				<input type="text" placeholder="{{'CONNECTION_NUMBER' | translate}}" name="connNumber" ng-model="connNumber" id="connectionNosearch"
			     ng-keyup="eighteendigit()"  disabled/>
				<!-- <span class="errorMessage" ng-show="SpotBillPayForm.connNumber.$error.pattern">Please Enter Valid Connection Number</span> -->
	 		</label>  
	        
			<div name="waterBillForm" ng-submit="payWaterBill()">
	            <div class="list ">
	            
	             <label class="item item-input item-floating-label"> 
					<span class="input-label required">Total Amount</span>
					<input type="text" placeholder="Total Amount*" name="totalPayableAmount" ng-model="totalPayableAmount" id="pincodelim"
					ng-keyup="onlyNumericSixLimitInput()" ng-trim="false" ng-pattern="/^[0-9]{1,6}$/" disabled/>
					<!-- <span class="errorMessage" ng-show="SpotBillPayForm.totalPayableAmount.$error.pattern">Please Enter Valid Pincode</span> -->
				</label>
			
				<label class="item item-input item-floating-label"> 
					<span class="input-label required">Enter Payable Amount</span>
					<input type="number" placeholder="Enter Payable Amount*" name="data_.payingAmountspotbill" ng-model="data_.payingAmountspotbill" 
					ng-keyup="onlyNumericSixLimitInput()" ng-trim="false" ng-pattern="/^[0-9]{1,6}$/" required/>
					<span class="errorMessage" ng-show="SpotBillPayForm.data_.payingAmountspotbill.$error.pattern">Please Enter Valid Pincode</span>
				</label>
			
            	<label class="input-label padding-left-15 required">Payment Gateway</label>
				<select class="select-dropdown" name="data_.paymentGatewayspotbill" data-ng-model="data_.paymentGatewayspotbill" 
					ng-options="o.id as o.name for o in options" required>
					<option value="">Select Payment Gateway</option>
				</select>  
				
				<div class="padding">
	                <button ng-disabled="!SpotBillPayForm.$valid" ng-click="payWaterBill()" class="button button-block button-positive customBgColor">
	                <span translate="PAY"></span></button>
	            </div> 
	             
	        </div>
	      </div>  
	      
	</div>
</form>

    </ion-content>
 </ion-view> 
   
<style>
.customBgColor{background-color: #36979e !important;} 
.customBgColorWhite{text-align:right; background-color: #ffffff !important;} 
fonth3 {font-size: 20px !important;} 
.cBody{background-image:url("../img/bg.png"); border:0px; background-size: 100% 100%; margin:0px; padding:0px;} 
.heading{font-size:15px; padding:10px 20px; line-height:25px; font-family:'Trajan Pro Bold'; background:#f2f2f2;}
.required:after { content:" *"; color:red;}
/* h4{font-size:18px; font-weight:normal; padding:5px 0px; line-height:20px;} 
.labelcss{font-weight:normal; padding:5px 0px; line-height:20px;} 
.checkboxcss{font-weight:normal;} 
.cRedSpan{color: red;} 
 .required:after { content:" *"; color:red;} */ 
</style>