
<ion-view>
 
   <!--  <ion-nav-title>
        <span translate="FIX_HEADER"></span>
    </ion-nav-title>
     -->
 <ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>
     
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
<ion-content ng-controller="AboutUsCtrl" class="">
    <h3 class="heading">About Us.</h3>
		<p>Naya Raipur is located between National Highways NH-6 and NH-43, about 17 km south-east 
		of the current capital Raipur; Swami Vivekananda Airport separates the old and new cities. 
		Naya Raipur is serving as the administrative capital of the State and also caters to the 
		infrastructural needs of industry and trade in the region.[1] Naya Raipur is surrounded by 
		the cities of Raipur, Arang, Mahasamund, Rajim and Abhanpur. Naya Raipur covers an area of 
		about 8000 hectares. It includes 41 villages out of which 27 villages form the core of Naya
		 Raipur. During the renovation of villages for the construction of Naya Raipur, it displaced
		  the population of one village.</p>

        <p>About half of the total acquired land is being used for afforestation, roads, parks,
         public conveniences, water facilities-canals, green belts etc.; 23% of the land would be
          reserved for educational institutions, government offices and public auditoriums etc.; 
          and 30% of the land will be used for residential and economical purposes.</p>
    
    </ion-content>
</ion-view>

