<ion-view>
  
<ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>

 <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
<ion-content class="backgroundimage">
<h1 class="heading">BIRTH & DEATH SERVICES</h1>
<div class="row margin-0" >
	<div class="col col-50">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app."><img src="../www/img/water-bill-icon.png" width="55px" height="55px">
		<h5>Birth Registration Details</h5></a>
		</div>
	</div>
	             
	<div class="col col-50">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app."><img src="../www/img/new-water-connection.png" width="55px" height="55px">
		<h5>Death Registration Details</h5></a>
		</div>
	</div>
</div>

<div class="row margin-0">
	<div class="col col-50">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app."><img src="../www/img/spot-billing-icon.png" width="55px" height="55px">
		<h5>Issue Birth Certificate</h5></a>
		</div>
	</div>
	             
	<div class="col col-50">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app."><img src="../www/img/change-of-usage-icon.png" width="55px" height="55px">
		<h5>Issue Death Certificate</h5></a>
		</div>
	</div>
</div>
    
 </ion-content>
  
 </ion-view>

<style>
.customBgColor{
	background-color: #36979e !important;
}

.red{
	background-color: #E15554 !important; /*E15554*/
}
.green{
	background-color: #68C39F !important; /*#68C39F*/ 
}

.customBgColorWhite{
	background-color: #ffffff !important; 
}

.fonth3 {
	font-size: 24px !important;
}
.cBody{background-image: url("../img/bg.png"); border:0px; background-size: 100% 100%; margin:0px; padding:0px;}
.heading{font-size:15px; padding:10px 20px; line-height:25px; font-family:'Trajan Pro Bold'; background:#f2f2f2;}
/* h4{font-size:18px; font-weight:normal; padding:5px 0px; line-height:20px;}
.labelcss{font-weight:normal; padding:5px 0px; line-height:20px; font-size:0.85em;}
.checkboxcss{font-weight:normal;}
.cRedSpan{color:red;}
.required:after { content:" *"; color:red;} */
</style> -->