<ion-view>

 <ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>

<ion-content ng-controller="ForgotPasswordCtrl">

<form name="mobileform">
<div class="list" ng-show="show==1">
<h3 class="heading">Reset Password</h3>
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="MOBILENO"></span>
		<input type="number" placeholder="{{ 'MOBILENO' | translate}}*" name="forgotmobileNo" ng-model="forgotmobileNo" 
		ng-trim="false" ng-pattern="/^[0-9]{10,10}$/" required/>
		<span class="errorMessage" ng-show="mobileform.forgotmobileNo.$error.pattern">Please Enter Valid Mobile Number</span>
	</label>
	<div class="padding">
		<button ng-disabled="!mobileform.$valid" ng-click="forgotmobilesubmit1()" class="button button-block button-positive customBgColor">
		<span translate="SUBMIT"></span></button>
	</div>
</div>
</form>
      
<form name="forgototpform">
<div class="list" ng-show="show==2">
<h3 class="heading">OTP Verfication</h3>
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="ENTOTP"></span>
		<input type="number" placeholder="{{ 'ENTOTP' | translate}}*" name="forgototp" ng-model="forgototp" 
		ng-trim="false" ng-pattern="/^[0-9]{6,6}$/" required/>
		<span class="errorMessage" ng-show="v.forgototp.$error.pattern">Please Enter Valid OTP</span>
	</label>
	<div class="padding">
		<button ng-disabled="!forgototpform.$valid" ng-click="forgototpsubmit1()" class="button button-block button-positive customBgColor">
		<span translate="SUBMIT"></span></button>
	</div>
		 	  
	<ul class="center">	
		<li><a ui-sref="" ng-click=""><b translate="RESENDOTP"></b></a></li>
	</ul>
</div>
</form>            
   
<form name="forgotpasswordpage">   
<div class="list"  ng-show="show==3">
  <h3 class="heading">Password</h3>  		   
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="PASSWORD"></span> 
		<input type="{{inputType}}" id="txtPassword" placeholder="{{ 'PASSWORD' | translate}}*"  name="forgotpassword" ng-model="forgotpassword" ng-trim="false" 
		ng-pattern="/^[a-zA-Z0-9!@#$%^&*]{1,16}$/" required/>
		<span class="errorMessage" ng-show="forgotpasswordpage.forgotpassword.$error.pattern">Please Enter Valid Password</span>
	</label>
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="CNFPASSWORD"></span> 
		<input type="{{inputType}}" id="txtConfirmPassword" placeholder="{{ 'CNFPASSWORD' | translate}}*" name="forgotconpass" ng-model="forgotconpass"
		ng-trim="false" ng-pattern="/^[a-zA-Z0-9!@#$%^&*]{1,16}$/" required/>
		<span class="errorMessage" ng-show="forgotpasswordpage.forgotconpass.$error.pattern">Please Enter Valid Confirm Password</span>
	</label>
		
	<div class=" padding">
		<button ng-disabled="!forgotpasswordpage.$valid" ng-click="forgotpasswordsubmit1()" 
		class="button button-block button-positive customBgColor">
		<span translate="SUBMIT"></span></button>
	</div>
</div>
</form>
</ion-content>
  
</ion-view>


