<ion-view class="" hide-back-button="true">
  
<ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>

 <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

<!-- <div id="slides_control" class="bar animated">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img class="imgcss" ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <h4>Slide {{$index+1}}</h4>
          </div>
        </slide>
      </carousel>
</div>  style="padding-top:195px;" -->
  
<ion-content class="backgroundimage" ng-controller="HomeCtrl" id="iWantToScrollHere">
<div class="bar row-no-padding header-bg animated slideInDown">
	 <div class="header-content">
	  <h2 translate="ONLINE_SERVICES"></h2>
	  <p translate="ONL_SERTEXT"></p>
	</div>
</div>   

 <!--<div class="row margin-0">
   <div class="col col-50 animated fadeInLeft">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.birthNDeathHome"><img src="../www/img/birth-registration48x48.png" width="55px" height=55px">
	         <h5>Birth & Death</h5></a>
        </div>
    </div>
    
     <div class="col col-50 animated fadeInRight">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.RTIpage"><img src="../www/img/rti-entry48x48.png" width=55px" height=55px">
	         <h5>RTI </h5></a>
        </div>
    </div>
</div> 

<div class="row margin-0">
   <div class="col col-50 animated fadeInLeft">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.applicationstatus"><img src="../www/img/search-application-status-48x48.png" width=55px" height=55px">
	         <h5>Application Status</h5></a>
        </div>
    </div>
  
    <div class="col col-50 animated fadeInRight">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.tradeandlicense"><img src="../www/img/trade-license-48x48.png" width=55px" height=55px">
	         <h5>Trade & License</h5></a>
        </div>
    </div>
</div>  -->

<div class="row margin-0">
   <div class="col col-50 animated fadeInLeft">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.WaterModule">
             <img src="../www/img/water-bill-icon.png" width=55px; height=55px;>
	         <h5 translate="WATER_SERVICE"></h5></a>
        </div>
    </div>
    <div class="col col-50 animated fadeInRight">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.estateBooking"><img src="../www/img/loi-rent-lease48X48.png" width=55px" height=55px">
	         <h5>Rent & Lease</h5></a>
        </div>
	</div>
    <!-- <div class="col col-50 animated fadeInRight">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.LOIDetailspage">
             <img src="../www/img/loi-details48x48.png" width=55px; height=55px;>
	         <h5>LOI Details</h5></a>
        </div>
    </div> -->
</div> 
<!-- 
 <div class="row margin-0">
    <div class="col col-50 animated fadeInLeft">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.propertyDuesPayment"><img src="../www/img/property-tax48x48.png" width="55px" height=55px">
	         <h5>Property Dues/Bill Payment</h5></a>
        </div>
    </div>
	<div class="col col-50 animated fadeInRight">
         <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.noChangePropertySearch"><img src="../www/img/no-change48x48.png" width=55px" height=55px">
	         <h5>No Change In Assessment</h5></a>
        </div>
    </div>
</div> -->
 <div class="row margin-0">
    <div class="col col-50 animated fadeInLeft">
    	<div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.complaintPage">
             <img src="../www/img/contact-us-icon.png" width=55px; height=55px;>
	         <h5 translate="COMPL_SERVICE"></h5></a>
        </div>
    </div>
	 <div class="col col-50 animated fadeInRight">
         <div class="list text-center" ng-click="inappbrowserlinnk('https://www.facebook.com/RaipurCity/')">
             <a class="item gridnopadding" ><img src="../www/img/ic_facebook.png" width=55px" height=55px">
	         <h5>Facebook</h5></a>
        </div>
    </div> 
	
</div> 
 <div class="row margin-0">
  <div class="col col-50 animated fadeInRight">
         <div class="list text-center" ng-click="inappbrowserlinnk('https://twitter.com/RaipurSmartCity')">
             <a class="item gridnopadding" >
             <img src="../www/img/ic_twitter.png" width=55px; height=55px;">
	         <h5>Twitter</h5></a>
        </div>
	</div> 
</div> 

</ion-content>
</ion-view>

