 
<ion-view>
 
 <ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>
     
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
<ion-content  class="">
<h1 class="heading">RIGHT TO INFORMATION</h1>
  
<div class="row margin-0" >
	<div class="col col-50">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app."><img src="../www/img/water-bill-icon.png" width="55px" height="55px">
		<h5>RTI APPLICATION ENTRY</h5></a>
		</div>
	</div>
	             
	<div class="col col-50">
		<div class="list text-center">
		<a class="item gridnopadding" ui-sref="app."><img src="../www/img/new-water-connection.png" width="55px" height="55px">
		<h5>RTI APPLICATION STATUS</h5></a>
		</div>
	</div>
</div>
	
    
 </ion-content>
</ion-view>

<!-- 
<ion-view>
 
 <ion-nav-bar>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-bar>
     
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
<ion-content class="backgroundimage">
    <h3 class="heading">Water Module</h3>
	
<div class="row margin-0" >
        <div class="col col-50">
            <div class="list text-center">
	             <a class="item gridnopadding" ui-sref="app.waterbillpay"><img src="../www/img/water-bill-icon.png" width="55px" height="55px">
	             <h5>Water Bill Payment</h5></a>
            </div>
        </div>
             
        <div class="col col-50">
            <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.newWaterconn"><img src="../www/img/new-water-connection.png" width="55px" height="55px">
	         <h5>New Water Connection</h5></a>
            </div>
        </div>
</div>

<div class="row margin-0">
       <div class="col col-50">
            <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.spotbilling"><img src="../www/img/spot-billing-icon.png" width="55px" height="55px">
	         <h5>Spot Billing</h5></a>
            </div>
        </div>
             
        <div class="col col-50">
            <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.changeofusage"><img src="../www/img/change-of-usage-icon.png" width="55px" height="55px">
	         <h5>Change Of Usage</h5></a>
            </div>
        </div>
</div>
             
<div class="row margin-0">
    <div class="col col-50">
        <div class="list text-center">
             <a class="item gridnopadding" ui-sref="app.changeofowner"><img src="../www/img/change-of-ownership-icon.png" width="55px" height="55px">
	         <h5>Change Of OwnerShip</h5></a>
         </div>
	</div>
</div>
	
	
    
 </ion-content>
</ion-view>
-->