<ion-view>
    <!-- <ion-nav-title>
        <span translate="FIX_HEADER"></span>
    </ion-nav-title> -->
    
  <ion-nav-title>
 	 <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet<sup>&reg;</sup></h1>
 </div>
</ion-nav-title>
    
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    
<ion-content ng-controller="COpaymentCTRL" class="animated zoomIn">
<h3 class="heading" translate="PAYMENT"></h3>
<form name="COPayForm">
	<div class="list">
	
	             <label class="item item-input item-floating-label"> 
					<span class="input-label required" translate="TOTAL_AMOUNT"> </span>
					<input type="number" placeholder="{{'TOTAL_AMOUNT' | translate}}" name="COSFlatRate" ng-model="COSFlatRate" id="pincodelim"
					ng-keyup="onlyNumericSixLimitInput()" ng-trim="false" ng-pattern="/^[0-9]{1,6}$/" disabled/>
					<span class="errorMessage" ng-show="COPayForm.COSFlatRate.$error.pattern">Please Enter Valid Total Amount</span>
				</label>
			
				<!-- <label class="item item-input item-floating-label"> 
					<span class="input-label required" translate="ENTAMT">  </span>
					<input type="number" placeholder="{{'ENTAMT' | translate}}*" name="COUpaidamt" ng-model="COUpaidamt" 
					ng-keyup="onlyNumericSixLimitInput()" ng-trim="false" ng-pattern="/^[0-9]{1,6}$/" required/>
					<span class="errorMessage" ng-show="COPayForm.COUpaidamt.$error.pattern">Please Enter Valid Pincode</span>
				</label> -->
			
            	<label class="input-label padding-left-15 required" translate="PAYGATEWAY">Payment Gateway</label>
				<select class="select-dropdown" name="COUpaymettype" ng-model="COUpaymettype" 
					ng-options="o.id as o.name for o in options" required>
					<option value="">Select Payment Gateway</option>
				</select>  
				
				<div class="padding">
	                <button class="button button-block button-positive customBgColor" ng-click="changeownersavedata()" ng-disabled="!COPayForm.$valid">
	                <span translate="PAY"></span></button>
	            </div> 
	           
	</div>
</form>

    </ion-content>
 </ion-view>   
